body {
    background-color: rgb(120, 187, 209);
}
.siteContainer{

    width: 100%;
}
h1 {
    font-family: cursive;
    color: yellow;
    text-align: center;
    margin-top: 50px;

}
table{
    width: 80%;
    height: 90vh;
    margin-left: 150px;
    margin-top: 30px;
}
th{
    font-family: cursive;
    text-align: center;
}
td{
    border: 3px solid black;
}